<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
</head>
<body>
    <h1>Charles Babbage</h1>
    <h2>El padre de los ordenadores</h2>
    
    <p>Nacido un 26 de diciembre del año 1791 en londres. Fue un matematico y cientifico de la computacion britanico.
        Diseño y desarrollo la calculadora mecanica(Imagen 2). También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; 
        por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora.
        En el museo de londre se exhiben partes de sus mecanismos inconclusos.
    </p>
    <img src="/img/babbage.jpg" alt="">
</body>
</html>